.icon-bar {
  width: 100%;
  background-color: rgb(78, 68, 68); /* Dark-grey background */
  overflow: auto;
}

.icon-bar button {
  float: left;
  text-align: center;
  width: 100%;
  padding: 12px 0;
  transition: all 0.3s ease; /* Add transition for hover effects */
}

.icon-bar button:hover {
  background-color: #000; /* Add a hover color */
}

.home-button {
  font-family: Impact;
}

